<style>
.responsive-ads { width: 300px; height: 200px; }
@media(min-width: 520px) { .responsive-ads { width: 468px; height: 60px; } }
@media(min-width: 768px) { .responsive-ads { width: 160px; height: 600px; } }
@media(min-width: 900px) { .responsive-ads { width: 200px; height: 600px; } }
.responsive-ads .myheader {
font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
font-weight: 700; font-size: 1.25em; text-transform: uppercase;
}
.responsive-ads ul { list-style: none; padding: 0px; }
.responsive-ads ul li { border-top: 1px dotted grey; padding-bottom: 5px; margin-bottom: 5px; }
.responsive-ads ul li a { font-weight: bold; }
</style>

<ins class="responsive-ads" style="display:inline-block">
<div class="myheader">Мои тренинги</div>
<ul>




<li>
<span>18.09.2015</span><br>
<a href="http://software-testing.ru/trainings/schedule?&task=3&cid=226">
Программирование на С# для тестировщиков</a>
</li>
<li>
<span>18.09.2015</span><br>
<a href="http://software-testing.ru/trainings/schedule?task=3&cid=233&sem_midx=1&sem_jidx=0">Программирование на Python для тестировщиков</a>
</li>
<li>
<span>25.09.2015</span><br>
<a href="http://software-testing.ru/trainings/schedule?task=3&cid=222">Эффективное использование TestNG и JUnit </a>
</li>
<li>
<span>25.09.2015</span><br>
<a href="http://software-testing.ru/trainings/schedule?task=3&cid=126">
Тестирование защищенности</a>
</li>
<li>
<span>02.10.2015</span><br>
<a href="http://software-testing.ru/trainings/schedule?&task=3&cid=232">Организация автоматизированного тестирования </a>
</li>

<li>
<span>02.10.2015</span><br>
<a href="http://software-testing.ru/trainings/schedule?task=3&cid=19&sem_midx=2&sem_jidx=0">
Тестирование производительности</a>
</li>

</ul>
А ещё есть? <a href="http://software-testing.ru/trainings/schedule">Конечно!</a>
</ins>
